h1{
  color: coral;
  text-align: center;
  font-style: "Times New Roman", Times, serif;
}
h2{
  text-align: center;
  font-style: italic;
  color: cornflowerblue;
}
p{
  text-align: center;
  font-style: normal;
}
ul{
  font-size: small;
  line-height: small;
  text-align: center;
}
h3{
  text-align: center;
  color: lightseagreen;
  font-family: "Lucida Console", Courier, monospace;
}
body{
  background-color: mintcream;
}