h1{
  color: coral;
  text-align: center;
  font-style: "Times New Roman", Times, serif;
}
h2{
  text-align: center;
  font-style: italic;
  color: cornflowerblue;
}
p{
  text-align: center;
  font-style: normal;
}